* {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  max-width: 99vw;
  z-index: 0;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #d3d0d0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
#bg {
  position: absolute;
  min-width: 99vw;
  max-width: 99vw;
  z-index: -1;
  background-size: cover;
  filter: blur(2px);
  filter: grayscale(30%);
}

.center {
  display: flex;
  justify-content: center;
}

.centertext {
  text-align: start;
}
.pointer {
  cursor: pointer;
}
/* header */
.verifiydiv {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  background-color: var(--primary);
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--btext);
}

nav {
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: #ffffffa6;
  backdrop-filter: blur(10px);
}

.header {
  width: 100%;
  height: 55px;
  box-shadow: rgba(0, 0, 0, 0.267) 0 1px 10px 1px;
  display: flex;
  gap: 156px;
  justify-content: center;
  align-items: center;
}

.logo > a {
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
  padding: 8px;
}

.searchbar {
  width: 420px;
  height: 35px;
  display: flex;
}
.searchbar .searchinp {
  all: unset;
  border: solid 2px var(--primary);
  vertical-align: middle;
  width: 100%;
  padding: 8px 20px 8px 10px;
  font-size: 1em;
  line-height: 20px;
  border-right: 0 none;
  border-radius: 0.1875rem 0 0 0.1875rem;
  border-color: var(--primary);
}
.searchbar .searchbtn {
  all: unset;
  display: flex;
  padding: 3px;
  border-radius: 0 3px 3px 0;
  background-color: var(--primary);
  width: 41px;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 15px;
}

/* no userr */
.login {
  display: flex;
  gap: 10px;
}

div#popup-signin {
  display: flex;
  gap: 5px;
}
div#popup-create {
  display: flex;
  gap: 5px;
}

/* with userr */
.sdiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile > img {
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 15px;
  color: #c446ea;
  text-transform: capitalize;
}

.email {
  font-size: 12px;
  color: gray;
}
.profileinfo {
  max-width: 137px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.carts {
  display: flex;
  gap: 20px;
  align-items: center;
}
.cartcount {
  margin: -28px 14px;
  position: absolute;
  background-color: var(--primary);
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-small;
}
.verify {
  margin: -33px 15px;
  position: absolute;
  background-color: red;
  color: white;
  width: 44px;
  height: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

/* popupsss */

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

#spopup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.spopup {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 19px;
  cursor: pointer;
  z-index: 8;
  background-color: red;
  width: 10px;
  height: 10px;
  padding: 10px;
  border-radius: 50%;
  color: white;
}

.popup,
.spopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.popup {
  padding: 20px;
  opacity: 0;
  transition: 0.5s ease, opacity 0.5s ease-in-out;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* min-width: 500px; */
  text-align: center;
  border-radius: 50px 0 50px 0;
}

.form-box {
  /* padding: 20px; */
  color: #010101;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2px 20px 24px;
  gap: 10px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.subtitle {
  font-size: 14px;
  color: #666;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin: 14px 0 0;
  width: 100%;
}
.form-container p {
  width: 250px;
  font-size: 12px;
  margin: 10px;
}
.input2 {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  font-size: 0.9rem;
  padding: 8px 15px;
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #00000080;
}

.form .submit {
  background-color: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-section {
  padding: 16px;
  font-size: 0.85rem;
  background-color: #f884ee49;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
  font-weight: bold;
  color: #0066ff;
  transition: color 0.3s ease;
}

.form-section a:hover {
  color: #005ce6;
  text-decoration: underline;
}

.form button:hover {
  background-color: #005ce6;
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.input-row input {
  flex: 1;
}

.ahead {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.carts {
  display: flex;
  gap: 20px;
  align-items: center;
}

.cartcount {
  margin: -33px 20px;
  position: absolute;
  background-color: var(--primary);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verify {
  margin: -37px 15px;
  position: absolute;
  background-color: red;
  color: white;
  width: 44px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.verifiydiv {
  display: flex;
  gap: 9px;
}

.verifiydiv form input {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  padding: 14px 26px;
  border-radius: 5px;
  font-size: 14px;
  justify-content: center;
  box-shadow: inset 0 0 0 2px #0000004f;
  width: 90px;
}
.basicinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  border: solid 1px var(--primary);
  border-radius: 10px;
}
.basicinfor1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.basicinfor2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 10px 0;
}
.ssbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 14px;
  border: solid 1px var(--primary);
  border-radius: 10px;
}

.settingbtn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}
.inbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--primary);
  padding: 7px 13px;
  border-radius: 5px;
  font-size: 14px;
  justify-content: center;
}
/* footerrr */

footer {
  padding: 50px;
  min-height: 30vh;
  background: linear-gradient(to bottom right, #121212, #535353 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.companyname h1 {
  color: white;
}
.flinks {
  display: flex;
  gap: 20px;
}
footer p {
  color: #a09e92;
  font-size: 14px;
}
.fsocials {
  display: flex;
  gap: 10px;
}
.fsocials li {
  transition: all 0.5s ease;
  display: flex;
  gap: 10px;
  list-style: none;
  display: inline-block;
  filter: grayscale(50%);
}
.fsocials li:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}
.fsocials li a {
  border: 1px solid var(--primary);
}
.fsocials li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}
.fsocials li a img {
  position: absolute;
  aspect-ratio: 1/1;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

footer p b {
  color: var(--primary);
}

img.imgsearch {
  width: 150px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.output {
  position: absolute;
  top: 55px;
  width: 98vw;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

div#demo {
  display: flex;
  width: 1105px;
  flex-direction: row;
  align-items: center;
  background-color: #ffffffde;
  backdrop-filter: blur(10px);
  flex-wrap: wrap;
  border-radius: 0 0 5px 5px;
  gap: 10px;
  padding: 30px;
  border: 0px solid #afafaf;
  border-right: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
}

.item h4 {
  font-size: 11px;
  padding: 10px;
}

.item {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
}

.item .ctgy {
  font-size: 9px;
  padding: 10px;
}

p.price {
  font-size: 13px;
}

#demo h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 58px;
}
.dealscontainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.hotdeals {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  gap: 10px;
  border-radius: 0 0 15px 15px;
}

.imgdeal img {
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: solid 1px #b1aeae;
  border-radius: 10px;
}

.label {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #d5d5d5;
  background-color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.label p {
  font-size: 22px;
  text-align: start;
  color: #333;
}

.imgdeal {
  display: flex;
  align-items: center;
}

.dealscontainer {
  display: flex;
  gap: 10px;
}

.iteminfo p {
  font-size: 12px;
}

.stocks {
  display: flex;
  align-items: center;
  gap: 3px;
}

p.stocks {
  color: #6d6d6d;
  font-size: 10px;
}

.itemdeal {
  display: flex;
  border: solid 1px #d3d0d0;
  padding: 5px;
  width: 252.3px;
  gap: 5px;
  cursor: pointer;
}

.tocart h5 {
  color: #888;
  text-decoration: line-through;
}

.discountdiv {
  display: flex;
  gap: 5px;
}

.discount {
  color: var(--primary);
  font-weight: bold;
}

.buy {
  background: var(--primary);
  padding: 5px;
  width: 80px;
  color: white;
  border-radius: 3px;
}

div#pagination-container_category {
  display: flex;
  gap: 11px;
  align-items: center;
  margin: auto;
}

a.pagination-link {
  padding: 4px 9px;

  border: solid 1px var(--secondary);
  border-radius: 5px;
}

.selected-page {
  color: white;
  background: var(--primary);
  font-weight: bold;
}

.search_count {
  margin: 0 0 25px 10px;
}
